<div class="container-list">
  <h1>{{title}}</h1>
  <div>
    <ul>
      <li
        *ngFor="let collaborator of collaborators; let i = index"
        [style.animation-delay] = "delay + i * 0.2 + 's'"
      >
        <div class="icon">
          <img src="../../../../assets/img/icon_dev.png" alt="" srcset="" />
        </div>
        <div class="text">
          <h3>{{ collaborator.nome }}</h3>
          <p>{{ collaborator.cargo }}</p>
          <p>
            {{
              collaborator.salario.toLocaleString("pt-BR", {
                style: "currency",
                currency: "BRL"
              })
            }}
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
